The event you selected is:
<form>
    Event name: <input type="text" ng-model="eventDetails.event.name" />
    Description: <input type="text" ng-model="eventDetails.event.description" />
    Public Event? <input type="checkbox" ng-model="eventDetails.event.public" />
    <button ng-click="eventDetails.save()">Save</button>
</form>
<button ui-sref="events">Back</button>
<ul>
    Users:
    <li ng-repeat="user in eventDetails.users | uninvited:eventDetails.event">
        <div>{{ user | displayName }}</div>
    </li>
</ul>