<form ng-show="eventsList.isLoggedIn">
    <label>Event Name: </label>
    <input type="text" ng-model="eventsList.newEvent.name" />
    <label>Description: </label>
    <input type="text" ng-model="eventsList.newEvent.description" />
    <label>Public Event?</label>
    <input type="checkbox" ng-model="eventsList.newEvent.public" />
    <button ng-click="eventsList.addEvent()">Add Event!</button>
</form>
<div ng-hide="eventsList.isLoggedIn">
    Log in to create an event!
</div>
<h1>Events:</h1>
<div>
    <input type="search" ng-model="eventsList.searchText" placeholder="Search" />
    <select ng-model="eventsList.orderProperty" ng-change="eventsList.updateSort()">
        <option value="1">Ascending</option>
        <option value="-1">Descending</option>
    </select>
</div>
<ul>
    <li ui-sref="eventDetails({ eventId: event._id })" dir-paginate="event in eventsList.events | itemsPerPage: eventsList.perPage" total-items="eventsList.eventsCount">
        {{event.name}}
        <p>{{event.description}}</p>
        <button ng-click="eventsList.removeEvent(event)" ng-show="eventsList.isLoggedIn && event.owner == eventsList.currentUserId">X</button>
        <div ng-show="eventsList.isLoggedIn">
            <input type="button" value="I'm going!" ng-click="eventsList.rsvp(event._id, 'yes')">
            <input type="button" value="Maybe" ng-click="eventsList.rsvp(event._id, 'maybe')">
            <input type="button" value="No" ng-click="eventsList.rsvp(event._id, 'no')">
        </div>
        <div ng-hide="eventsList.isLoggedIn">
            <i>Sign in to RSVP for this party.</i>
        </div>
        <div>
            Who is coming:
            Yes - {{ (event.rsvps | filter:{rsvp:'yes'}).length }}
            Maybe - {{ (event.rsvps | filter:{rsvp:'maybe'}).length }}
            No - {{ (event.rsvps | filter:{rsvp:'no'}).length }}
            <div ng-repeat="rsvp in event.rsvps | filter:{rsvp:'yes'}">
                {{ eventsList.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
            <div ng-repeat="rsvp in event.rsvps | filter:{rsvp:'maybe'}">
                {{ eventsList.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
            <div ng-repeat="rsvp in event.rsvps | filter:{rsvp:'no'}">
                {{ eventsList.getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
            </div>
        </div>
        <ul ng-if="!event.public">
            Users who not responded:
            <li ng-repeat="invitedUser in eventsList.outstandingInvitations(event)">
                {{ invitedUser | displayName }}
            </li>
        </ul>
        <div ng-if="event.public">
            Everyone is invited
        </div>
        <p><small>Posted by {{ eventsList.getEventCreator(event) | displayName }}</small></p>
    </li>
</ul>
<dir-pagination-controls on-page-change="eventsList.pageChanged(newPageNumber)"></dir-pagination-controls>